ATTRS{manufacturer}=="", ATTRS{product}=="", ATTRS{idProduct}=="", ATTRS{idVendor}=="", ATTRS{serial}=="", KERNEL=="sd?1", NAME="usb-hdd", RUN+="/home/${USER}/Code/udev-scripts/bin/mount_and_decrypt.py"